<div class="row">
    <div class="col-md">
        <div><button class="btn">Book 1</button><a class="btn" id="edit" href="/edit/123/"><i class="fa fa-edit"></i></a></div>
        <div>
            <a class="btn" id="addBook" href="/addBook" text-align="right"><i class=" fa fa-plus "></i></a></div>
    </div>
</div>