<!-- 
<div class="row">

    <div class="col-6"> -->

    
        
        <!-- <button class="btn">Favorites</button> -->
        
        <a class="btn" href="/openRecipe"><%=recipeName%></a>

        <!-- <button class="btn">Favorites</button>
        <button class="btn">Favorites</button>
        <button class="btn">Favorites</button>
        <button class="btn">Favorites</button> -->
    
   