
    
        <!-- <div><button class="btn">Book 1</button><a class="btn" id="edit" href="/edit/123/"><i class="fa fa-edit"></i></a></div>
        <div><a class="btn" id="addBook" href="/addBook"><i class="fa fa-plus"></i></a></div> -->
    
    
        <div><a class="btn" id="addRecipe" href="/addRecipe">Add Recipes</a></div>
    <span> </span>
        <div><a class="btn" href="/openRecipe">Favorites</a></div>
        <div><button class="btn">Favorites</button></div>
        <div><button class="btn">Favorites</button></div>
        <div><button class="btn">Favorites</button></div>
   