
<div class="row">

    <div class="col-md">

        <div><a class="btn" id="addRecipe" href="/addRecipe">Add Recipes</a></div>
        <span> </span>
        <div><a class="btn" href="/openRecipe">Favorites</a></div>
        <div><button class="btn">Favorites</button></div>
        <div><button class="btn">Favorites</button></div>
        <div><button class="btn">Favorites</button></div>
   