
  
<div class="card-header" id="heading<%=categories%>">
  <h2 class="mb-0">
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=categories%>" aria-expanded="true" aria-controls="collapse<%=categories%>">
      <%=categories%>
    </button>
  </h2>
</div>