
<div class="input-group row">
    <input type="text" class="" placeholder="1"/><input type="text" class="" placeholder="unit"/><input type="text" class="" placeholder="ingredient"/>
</div>
<div class="row"><button class="btn" id="nextIngredient"> + </button></div>
