<%-include('partials/header', {title: "Community Cookbook"}); -%>

<div class="row">
    <div class = "col-md"><button class="btn">Save</button><button class="btn">Cancel</button></div>
    <div class = "col-md"><button class="btn">Save</button><button class="btn"><i class="fa fa-bars"></i></button></div>
</div>
<div class = "row">
    <div class = "col-lg"><div>Name</div><div>myCookBook</div>
    <div>Category</div><div>Appetizers</div>
    <div>Category</div><div>Baking</div>
    <div>Category</div><div>Quick Meals</div>
    <div><button class="btn"><i class="fa fa-plus"></i></button></div>
</div>
<div class = "row">
    <div class ="col-lg"><div><button class="btn">Add Recipes<i class="fa fa-plus"></i></button></div></div>
</div>
</div>

<%-include('partials/footer'); -%>