<%-include('partials/header', {title: "Community Cookbook"}); -%>


<div class="container-fluid w-75">
    <div class="row">
        <div class="col-sm">
            My CookBooks
        </div>
        <div class="col-md cookbook-search-wrapper">
            <a type="button" class="btn btn-default" href="/search">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
              <button class="btn"><i class="fa fa-bars"></i></button>
        </div>

    </div>
    <%-include('partials/favorites'); -%>
        
    </div>
    
    <%-include('partials/footer'); -%>