<%-include('partials/header', {title: test}); -%>


<div class="container-fluid w-75">
    <div class="row">
        <div class="col-md">
            <button class="btn inline"><i class="fa fa-bars"></i></button> Categories
        </div>
        <div class="col-md">
            <input class="form-control" name="searchBox" id="searchBox" type="text" placeholder="Search" aria-label="Search"/>
        </div>

        

    </div>
    <div class="row">
        <div class="col-md">
            <div class="accordion" id="bookCategories"></div>
            <%-include('partials/menuCategories',{categories:"Baking"}); -%>
        </div>
        <div class="col-md">
            <%-include('partials/favorites') -%>
            <!-- Insert Search Script -->
    <!-- <script type="text/javascript"
       
       $(document).on("input", function(){
            //do something
            var searchResult = $("#searchBox");
            var htmlForResults =''; 
            htmlForResults += "%-include('searchResults') -%";

            $.ajax({
                type: "POST",
                url: "/",
                data: searchResults,
                success: function(){
                    console.log("Received Search Input");
                }
            })
        });
        /script> -->

        </div>
    </div>
    
</div>
    
    <%-include('partials/footer'); -%>