<%-include('partials/header', {title: "Community Cookbook"}); -%>

    <div class="top-left">
        <button class="btn"> Save </button>
        <button class="btn"> Cancel </button>
    </div>

    <div class="top-right">
        <button class="btn"> View Cookbooks </button>
    </div>

    <%-include('partials/footer'); -%>