<%-include('partials/header', {title: "Community Cookbook"}); -%>

    <div class="container-fluid">
        <div class="card border-primary mb-3">
            <h1 class="text-primary">
                <em>Add a New Recipe</em>
            </h1>
        </div>
        <div class="row">
            <div class="container">
                <form method="POST" id="addNewRecipe">
                    <div class="form-group">
                        <label for="recipeTitle"><div class= "font-weight-bold">Recipe Name</div></label>
                        <input type="text" class="form-control border-primary" name="recipeTitle" placeholder="e.g. Pancakes, Peanutbutter cookies" />
                    </div>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="selectCategory">Select Recipe Categories</label>
                            <select name="categories[]" class="mul-select" id="categorySelector" multiple="true">
                                <!-- <option selected>Choose...</option> -->
                                 <% for (let category of categories) { %>
                                 <%-include('partials/newRecipeCategory', {category:category.category}) -%>
                                 <%} %>
                             </select>
                        </div>
                    </div>
                    <div class="row" id="recipeTable">
                        <div class="col-3 offset-md-1 d-flex">Quantity</div>
                        <div class="col-3 d-flex">Unit</div>
                        <div class="col-3 d-flex">Ingredient</div>
                        <div class="col-2 f-flex"></div>
                    </div>
                    <div class="row" id="newIngredient"></div>
                    <div class="row" style="padding-left:15px;"><button type="button" class="btn" id="addIngredient"> + </button></div>

                    <br>

                    <div class="form-group">
                        <label for="recipeInstructions"><div class= "font-weight-bold">Instructions</div></label>
                        <textarea name="instructions" class="form-control border-primary" id="recipeInstructions" placeholder="Type Instructions Here..."></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn bg-primary text-white" type="submit" id="submitNewRecipe"> Save </button>
                        <a class="btn" href="/"> Cancel </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on('click', "#addIngredient", function() {
            var html = '';
            html += '<div class="input-group row">';
            html += '<div class="col-3 offset-md-1"><input name="ingredient[][quantity]" type="text" class="" placeholder="quantity"/></div>';
            html += '<div class="col-3"><input name="ingredient[][unit]" type="text" class="" placeholder="unit"/></div>';
            html += '<div class="col-3"><input name="ingredient[][description]" type="text" class="" placeholder="ingredient"/></div>';
            html += '<div class="col-2"><button type="button" class="btn col-auto mr-auto" id="removeIngredient">x</button></div>';
            html += '</div>';

            $('#newIngredient').append(html);
        });

        //remove row
        $(document).on('click', '#removeIngredient', function() {
            $(this).closest('.input-group').remove();
        });

        $(document).ready(function() {
            $("#addIngredient").trigger("click");
            $('#addNewRecipe').on("submit", function(event) {
                var result = $('#addNewRecipe').serializeJSON();
                $.ajax({
                    type: "POST",
                    url: "/addRecipe",
                    data: result,
                    success: function() {
                        console.log("added object to database");
                        window.location.href = "/";
                    }
                })
                console.log(result);
                event.preventDefault();
            })
            $(".mul-select").select2({                      //bootstrap 4 multipleSelect
                    placeholder: "select category", 
                    tags: true,
                    tokenSeparators: ['/',',',';'," "] 
                });
        })
    </script>

    <%-include('partials/footer'); -%>