<%-include('partials/header', {title: "Community Cookbook"}); -%>

    <div class="top-left">
        <button class="btn"> Save </button>
        <button class="btn"> Cancel </button>
    </div>

    <div class="top-right">
        <button class="btn"> View Recipes </button>
    </div>

    <div class="table">
        <table>
            <tr>
                <th> Number </th>
                <th> Unit </th>
                <th> Ingredient </th>
            </tr>
        </table>
        <button class="btn"> + </button>
    </div>

    <br>

    <div class="ins-block">
        <h2>Instructions</h2>
        <div class="content">
            <p>Type instructions here...</p>
        </div>
    </div>

    <%-include('partials/footer'); -%>