<%-include('partials/header', {title: "Community Cookbook"}); -%>


    <div class="card border-primary mb-3">
        <h1 class="text-primary">
            <em>Add a New Recipe</em>
        </h1>
    </div>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="recipeTitle"><h4 >Recipe Name</h4></label>
                <input type="text" class="form-control" id="recipeTitle" placeholder="e.g. Pancakes, Peanutbutter cookies" />
            </div>

            <!-- <%-include ('partials/newIngredient'); -%> -->

            <div class="input-group row">
                <input type="text" class="" placeholder="1" />
                <input type="text" class="" placeholder="unit" />
                <input type="text" class="" placeholder="ingredient" />
                <button class="btn" id="removeIngredient">x</button>
            </div>
            <div class="row" id="newIngredient"></div>
            <div class="row"><button class="btn" id="addIngredient"> + </button></div>

            <div class="form-group">
                <label for="recipeInstructions"><h2>Instructions</h2></label>
                <textarea class="form-control" id="recipeInstructions">Type instructions here...</textarea>
            </div>

            <div class="form-group">
                <button class="btn"> Save </button>
                <button class="btn"> Cancel </button>
            </div>
        </form>
    </div>
    <!-- <script type="text/javascript" src="helper.js"></script> -->
    <%-include('partials/footer'); -%>