<%-include('partials/header', {title: "Community Cookbook"}); -%>

    
    <div class="card">
        <h1>Add a New Recipe </h1>
    </div>
    <form method="POST" id="addNewRecipe">
    <div class="form-group">
    <label for="recipeTitle"><h4>Recipe Name</h4></label>
    <input type="text" class="form-control" id="recipeTitle" placeholder="e.g. Pancakes, Peanutbutter cookies"/>
    </div>

    <!-- <%-include ('partials/newIngredient'); -%> -->
     
    
    <div class="row" id="newIngredient"></div>
    <div class="row"><button type="button" class="btn" id="addIngredient"> + </button></div>

    <div class="form-group">
            <label for="recipeInstructions"><h2>Instructions</h2></label>
            <textarea name="instructions" class="form-control" id="recipeInstructions" placeholder="Type Instructions Here..."></textarea>
    </div>
    
    <div class="form-group">
        <button class="btn" type="submit" id="submitNewRecipe"> Save </button>
        <a class="btn" href="/"> Cancel </a>
    </div>
    </form>


    <script type="text/javascript">
    $(document).on('click',"#addIngredient", function () {
    var html = '';
    html += '<div class="input-group row">';
    html += '<input name="ingredient[][quantity]" type="text" class="" placeholder="1"/>';
    html += '<input name="ingredient[][unit]" type="text" class="" placeholder="unit"/>';
    html += '<input name="ingredient[][description]" type="text" class="" placeholder="ingredient"/>';
    html += '<button type="button" class="btn" id="removeIngredient">x</button>';
    html += '</div>';
    
    $('#newIngredient').append(html);
    });

    //remove row
    $(document).on('click', '#removeIngredient', function () {
        $(this).closest('.input-group').remove();
    });

    $(document).ready(function(){
        $("#addIngredient").trigger("click");
        $('#addNewRecipe').on("submit",function(event){
        var result = $('#addNewRecipe').serializeJSON();
        $.ajax({
            type: "POST",
            url: "/addRecipe",
            data: result,
            success: function(){
                console.log("added object to database");
                window.location.href ="/";            
            }
        })
        console.log(result);
        event.preventDefault();
        })
})
    
    
    </script>
    <%-include('partials/footer'); -%>