<%-include('partials/header', {title: "Community Cookbook"}); -%>
      <h1>Open Recipe</h1>
       <div class ="container">

          <div class ="icon">
           <a calss ="active" href ="#"><i class ="fa fa-home"></i></a>
             </div>

               <h2><input type = "text" id = "Com1" Value = "Community CoookBook"></h2>

               <div id ="box1">
               <div id ="left"></div>

                  <h2>
                 <input type="text" id="b" value = "BOOK 1">    
                 <input type="search" id="search" value="Seach">
                </h2>

               <ul>    
                     <div class ="bar1"><li></li></div><br>
                     <div class ="bar2"><li></li> </div><br>
                     <div class ="bar3"><li></li></div>                            
               </ul>
               <hr>
                   <form>
                      <input type="text" id="Cat"  Value  = "CATEGORY 1"><br>
                       <input type="text" id="Reci" value="Recipe a"><br>
                       <input type="text" id="Reci"  Value  ="Recipe b"><br>
                       <input type="text" id="Reci" value="Recipe c"><br>
                       <input type="text" id="Reci"  Value  = "Recipe d"><br>
                        <input type="text" id="Reci" value=  "Recipe e"><br><b><br>
                      <input type="text" id="Cat"  Value  = "CATEGORY 2"><br><br>
                    <input type="text" id="Cat"  Value  = "CATEGORY 3"><br><br>
                 <input type="text" id="Cat"  Value  = "CATEGORY 4"><b>
             </form>
                <div>
                  <input type = "text" id = "CO1" value = "Coconut Rice">
                   <input type = "text" id = "M" value = "More">
                     <div>

          <h3 id = "head"> Ingredient</h3>
        <div id = "box2">
         <ul>
            <li> 1 cup of water </li>
           <li> 2 cups of rice </li>
          <li> 1 can conconut milk</li>
       <ul>
     </div>

     <h3 id = "head1"> Instructions</h3>
     <div id = "box3">
       <ol>
          <li> step 1 </li>
          <li> step 2 </li>
          <li> step 3 </li>
     <ol>
    </div>

   <input type ="button" id ="button1" value = "Edit">
  <input type ="button" id ="button2" value = "Copy">

        </div>
          <div class = "comments">
           <textarea name = "Comments">Comments </textarea>
          </div>

      </div>   
      <%-include('partials/footer'); -%>
      