<%-include('partials/header', {title: "Community Cookbook"}); -%>

<div class=""><%=selected%></div>

<% for (let recipe of myRecipes){ %>
    <% if(recipe.recipeName === selected) {%>
        <%-include('partials/viewSelectedRecipe', {recipe:recipe,comments:comments})-%>
        <%}%>
<%}%>

<%-include('partials/footer'); -%>