<%-include('partials/header', {title: "Community Cookbook"}); -%>
      <h1>Open Recipe</h1>
       <div class ="container">

               <h2><input type = "text" id = "Com1" Value = "Community CookBook"></h2>

               <div class ="box1">
               
                  <div class ="left"></div>
                     <h2>
                        <input type="text" class="b" value = "Search Recipe">    
                        <input type="button" class="search" value="Seach by Navigation">
                    </h2>

                  <ul>    
                     <div class ="bar1"><li></li></div><br>
                     <div class ="bar2"><li></li> </div><br>
                     <div class ="bar3"><li></li></div>                            
                  </ul>
                   <hr>
                   <label for ="Books">Select a Books: </label>
                   <select name = "books" id = "books">
                    <option value ="book1"> Book1</option>
                     <option value ="book2"> Book2</option>
                      <option value ="book3"> Book3</option>
                       <option value ="book4"> Book4</option>
                       <option value ="book5"> Book5</option>
                       <input type = "submit" id = "submit">
                        </select><br><br><br>

                         <label for ="Category">Select a Category: </label>
                        <select name = "Category 1" id = "Category">
                       <option value ="Category 2"> Category 1</option>
                      <option value ="Category 3"> Category 2</option>
                    <option value ="Category 4"> Category 3</option>
                   <option value ="Category 5"> Category 4</option>
                  <option value ="Category 6"> Category 5</option>
               <input type = "submit" id ="submit">
              </select><br><br>

              <label for ="Recipe">Select a Recipe: </label>
               <select name = "Recipe" id = "Recipe">
                <option value ="Recipe 1"> Recipe 1</option>
                 <option value ="Recipe 2"> Recipe 2</option>
                   <option value ="Recipe 3"> Reccipe 3</option>
                    <option value ="Recipe 4"> Recipe 4</option>
                    <option value ="Recipe 5"> Recipe 5</option>
                     <option value ="Recipe 6"> Recipe 6</option>
                      <option value ="Recipe 7"> Recipe 7</option>
                       <option value ="Recipe 8"> Recipe 8</option>
                     <input type = "submit" id = "submit">
                </select><br><br>

        
                      
                <div>
                  <input type = "button" class="CO2" id = "CO2" value = "Add Favorite">
                   <input type = "button" class="M2" id = "M2" value = "Remove Favorite">
                </div>
                  <input type ="button" class="button1" id ="button1" value = "Edit">
                  <input type ="button" class="button3" id ="button3" value = "modify">

            </div>

            <div class = "comments">
                <textarea name = "Comments">Comments </textarea>
            </div>
      </div>   
      <%-include('partials/footer'); -%>