<%-include('partials/header', {title: "Community Cookbook"}); -%>
      <h1>Open Recipe</h1>
       <div class ="container">

               <h2><input type = "text" id = "Com1" Value = "Community CookBook"></h2>

               <div class ="box1">
               
                  <div class ="left"></div>
                     <h2>
                        <input type="text" class="b" value = "Search Recipe">    
                        <input type="button" class="search" value="Seach by Navigation">
                    </h2>

                  <ul>    
                     <div class ="bar1"><li></li></div><br>
                     <div class ="bar2"><li></li> </div><br>
                     <div class ="bar3"><li></li></div>                            
                  </ul>
                   <hr>
                   <form class = "newForm">                
                      <input type="text" id="book1"  Value  = "SELECT RECIPE BOOK"><br><br>
                       <input type="select" id="book2" value="Book 1"><br>
                         <input type="select" id="book2"  Value  ="Book 2"><br>
                          <input type="select" id="book2" value="Book 3"><br>
                            <input type="select" id="book2"  Value  = "Book4"><br>
                             <input type="select" id="book2" value=  "Book 5"><br><b><br>

                              <input type="text" id="Cat1"  Value  = "SHOW CATEGORY"><br><br>  
                              <input type="select" id="Cat2" value="Category 1"><br>
                              <input type="select" id="Cat2"  Value  ="Category 2"><br>
                            <input type="select" id="Cat2" value= "Categpru 3"><br>
                           <input type="select" id="Cat2"  Value  = "Category 4"><br>
                        <input type="select" id="Cat2" value=  "Category 5"><br><br>               
                     </form>

                      <input type="text" class="select1"  Value  = "SELECT RECIPE"><b><br>

                    <div class = "recipe0">
                       <input type="select" class="recipe1"  Value  ="Recipe 1"><br>
                       <input type="select" class="recipe1" value= "Recipe 2"><br>
                       <input type="select" class="recipe1"  Value  = "Recipe 3"><br>
                        <input type="select" class="recipe1" value=  "Recipe 4"><br>
                       <input type="select" class="recipe1"  Value  ="Recipe 5"><br>
                       <input type="select" class="recipe1" value= "Recipe 6"><br>
                       <input type="select" class="recipe1"  Value  = "Recipe 7"><br>
                        <input type="select" class="recipe1" value=  "Recipe 8"><br><br>
                    </div>
                <div>
                  <input type = "button" class="CO2" id = "CO2" value = "Add Favorite">
                   <input type = "button" class="M2" id = "M2" value = "Remove Favorite">
                </div>
                  <input type ="button" class="button1" id ="button1" value = "Edit">
                  <input type ="button" class="button3" id ="button3" value = "modify">

            </div>

            <div class = "comments">
                <textarea name = "Comments">Comments </textarea>
            </div>
      </div>   
      <%-include('partials/footer'); -%>