<%-include('partials/header', {title: "Community Cookbook"}); -%>
     
<div class="row">
  <div class="col-md">
      <button class="btn inline"><i class="fa fa-bars"></i></button> Categories
  </div>
  <div class="col-md">
      <input class="form-control" name="searchBox" id="searchBox" type="text" placeholder="Search" aria-label="Search"/>
  </div>
</div>

<script>

</script>
      
<%-include('partials/footer'); -%>