.img-fluid {
    width: 15%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

#title {
    background-color: rgb(170, 238, 238);
}

#community-cookbook-title {
    font-variant: small-caps;
    font-family: serif;
    padding-top: 50px;
    text-align: center;
}

.wrapper {
    height: 800px;
    text-align: right;
}

#sidebar-title {
    font-family: Georgia, serif;
}