.img-fluid {
    width: 50%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

#title {
    background-color: rgb(65, 96, 231);
}

#community-cookbook-title {
    font-variant: small-caps;
    font-family: serif;
    padding-top: 50px;
    text-align: left;
    color: white;
}

.wrapper {
    height: 800px;
    text-align: right;
}

#sidebar-title {
    font-family: Georgia, serif;
    font-weight: bold;
}

.text-primary {
    font-family: sans-serif;
    text-align: center;
}